<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-4">

            <h3>Login</h3><br> 

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Usuario</span>
                <input [(ngModel)]="user" type="text" class="form-control" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Contraseña</span>
                <input [(ngModel)]="pass" type="password" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <button type="button" class="btn btn-primary" (click)="login()">Ingresar</button>
        </div>
    </div>
</div>